html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding-bottom: .4em;
}

img {
  display: block;
  width: 100%;
  padding: 0 .6em .4em;
}

h1 {
  padding: 0;
  font-size: 3rem;
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  color: #b20953;
  margin: 0;
}

nav {
  text-align: center;
  display: block;
  margin: 0;
}

ol {
  padding-left: 0;
  margin: 0;
}

ol li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  text-align: left;
}

.current {
  color: #fff;
  background-color: #b20953;
}

a {
  display: inline-block;
  padding: .3em;
  background-color: #b2a212;
  font-family: Georgia, sans-serif;
  font-size: 1.125rem;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #cc1465;
}

main {
  margin-left: .6em;
  margin-right: .4em;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.875rem;
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: left;
}

p {
  font-family: Georgia, sans-serif;
  color: #2f2d13;
  font-size: 1rem;
}

footer {
  font-family: Georgia, sans-serif;
  text-align: center;
  color: #2f2d13;
  background-color: #ffe500;
  padding: 1em;
  font-size: 1rem;
}
