html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
}

h1 {
  font-size: 3rem;
  font-family: Sigmar One, sans-serif;
  text-align: center;
  color: #cc1465;
}

h2 {
  font-size: 3rem;
  font-family: Sigmar One, sans-serif;
  color: #cc1465;
}

article {
  font-family: georgia, sans-serif;
  color: #2f2d13;
}

a {
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  background-color: #b2a212;
  font-family: georgia, sans-serif;
  line-height: 1.5;
  padding: .5em .75em;
  list-style-type: none;
}

a:hover {
  background-color: #b20953;
}

div p {
  font-family: georgia, sans-serif;
  text-align: center;
  color: #2f2d13;
  background-color: #ffe500;
}
